.register-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, $custom_black, $custom_blue);
  .register-form {
    .register-form-container {
      width: 500px;
      height: 600px;
      background: white;
      box-shadow: $default_shadow;
      border-radius: $default_radius;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        span.singup-link {
          color: $custom_blue;
          cursor: pointer;
        }
      }
    }
  }
}
