$navbar-height: 70px;

.dashboard-layout {
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  .dashboard-navbar {
    width: auto;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0px 2.5rem;
    box-shadow: 0px 18px 32px 0px #15202a0d;
    p {
      margin: 0px;
      padding: 0px $size_4;
    }
  }
  .dashboard-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - #{$navbar-height});
    box-shadow: 0px 18px 32px 0px #15202a0d;
    width: 100%;
    .slider-box {
      min-width: 15%;
    }
    .content-box {
      max-width: calc(85% - 3rem);
      min-width: calc(85% - 3rem);
      padding: 1.5rem;
      background: white;
      box-shadow: 0px 18px 32px 0px #15202a0d;
    }
  }
}
