.normal-textarea {
  margin: $size_3 0px;
  display: flex;
  flex-direction: column;
  gap: $size_2;
  label {
    display: block;
    font-size: $size_3;
  }
  textarea {
    font-family: "Cera Pro", sans-serif !important;
    color: $custom_grey;
    width: $default_width_input;
    height: $default_height_input;
    border-radius: $default_radius;
    border: 1px solid $custom_black;
    padding: $size_4 $size_4;
    font-size: $size_4;
    &:focus {
      outline: none;
      border-color: none;
    }
  }
}
