.normal-select {
  margin: $size_3 0px;
  display: flex;
  flex-direction: column;
  gap: $size_2;
  width: $default_width_input;

  label {
    display: block;
  }
  select {
    color: $custom_grey;
    width: $default_width_input;
    height: $default_height_input;
    border-radius: $default_radius;
    border: 1px solid $custom_black;
    padding: 0px $size_4;
    background-color: #f9f9f9; /* Color de fondo personalizado */
    appearance: none; /* Para quitar el estilo nativo */
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: none; /* Un color de borde personalizado cuando está en foco */
    }

    option {
      background-color: #f9f9f9; /* Cambiar según tus preferencias */
      color: #333; /* Cambiar según tus preferencias */
    }
  }

  /* Para la flecha personalizada, utiliza un ícono o imagen como fondo */
  .custom-dropdown-icon {
    // background: url("path-to-your-icon.png") no-repeat right center;
    padding-right: 25px; /* Espacio para el ícono, ajústalo según tus necesidades */
  }
}
